.tabs-container {
  position: absolute;
  left: 1%;
  top: 20%;
  display: flex;
  align-items: start;
}

@media (max-width: 1200px) {
  .tabs-container{
    top: 22%;
  }
}
@media (max-width: 700px) {
  .tabs-container{
    top: 28%;
  }
}

@media (max-width: 500px) {
  .tabs-container{
    top: 30%;
  }
}

