.editor-container {
  padding: 5px;
  width: fit-content;
  position: relative;
  width: 100%;
}

/* class applied around the editor */
.editor-class {
  min-height: 50vh;
  padding: 5px;
  background-color: white;
  margin-top: 45px;

}
/*  class applied around the toolbar */
/* !important has to be applied for some reason ¯\_(ツ)_/¯ */
.toolbar-class {
  background-color: #ecf0f1 !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.328) !important;

}

.rdw-option-wrapper {
  padding: 10px !important;
}
.rdw-dropdown-wrapper {
  padding: 5px !important;
}
/* options wrapper */
.rdw-option-wrapper:hover {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.53) !important;
}
.rdw-option-active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.53) !important;
}
.rdw-option-active:hover {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.53) !important;
}
.rdw-dropdownoption-default {
  border-bottom: 1px solid rgba(128, 128, 128, 0.494);
  padding: 5px !important;
}
.rdw-image-wrapper {
  margin: 4px 0px;
}
/** TEST */
.custom-option {
  height: fit-content;
  padding: 7px;
  position: relative;
  background-color: white;
  margin: 6px;
  font-size: 22px;
  border: none;
}
.custom-option:hover {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.53) !important;
}
@media (max-width: 1200px) {
  .editor-container {
    width: fit-content;
  }
  .rdw-image-modal {
    left: -400% !important;
    top: 100% !important;
  }
}
