.editor-container {
  padding: 5px;
  width: fit-content;
}

/* class applied around the editor */
.editor-class {
  min-height: 50vh;
  border-top: 2px solid rgba(0, 0, 0, 0.328);
  padding: 5px;
  line-height: 5px;
}
/*  class applied around the toolbar */
/* !important has to be applied for some reason ¯\_(ツ)_/¯ */
.toolbar-class {
  background-color: #ecf0f1 !important;
}

.rdw-option-wrapper {
  padding: 10px !important;
}
.rdw-dropdown-wrapper {
  padding: 5px !important;
}
/* options wrapper */
.rdw-option-wrapper:hover {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.53) !important;
}
.rdw-option-active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.53) !important;
}
.rdw-option-active:hover {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.53) !important;
}
.rdw-dropdownoption-default {
  border-bottom: 1px solid rgba(128, 128, 128, 0.494);
  padding: 5px !important;
}
.rdw-image-wrapper{
  margin: 4px 0px;
}
@media (max-width: 1200px) {
  .editor-container {
    width: fit-content;
  }
}
