.block-picker {
  position: absolute !important;
  z-index: 3;
  left: -200%;
  top: 100%;
}
.color-picker-container {
  height: fit-content;
  padding: 10px;
  position: relative;
  background-color: white;
  margin: 6px;
}
