.add-tab {
  margin: 0;
  padding: 10px;
}
.add-tab-input {
  outline: none;
  padding: 15px;
}
.add-tab-actions {
  display: flex;
  gap: 5px;
}
.new-tab-input {
  padding: 5px;
}

.add-tab-btn {
  background-color: transparent;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 6px;
  margin-right: 5px;
}
